<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img
        src="/adminLte/dist/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <br />

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-header">Product List</li>
          <li class="nav-item">
            <a href="/categories" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              <p>Categories</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/colors" class="nav-link">
              <i class="nav-icon fas fa-paint-roller"></i>
              <p>Colors</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/product" class="nav-link">
              <i class="nav-icon fas fa-box"></i>
              <p>Product</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link">
              <i class="nav-icon fas fa-comments"></i>
              <p>Review</p>
            </a>
          </li>
          <li class="nav-header">Payment</li>
          <li class="nav-item">
            <a href="/card" class="nav-link">
              <i class="nav-icon fab fa-cc-mastercard"></i>
              <p>Card</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/payment" class="nav-link">
              <i class="nav-icon fab fa-cc-visa"></i>
              <p>Payment Method</p>
            </a>
          </li>
          <li class="nav-header">Statement</li>
          <li class="nav-item">
            <a href="pages/calendar.html" class="nav-link">
              <i class="nav-icon fas fa-desktop"></i>
              <p>Transaction</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
