<table id="example2" class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>No</th>
    <th>Colors</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < colors.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= colors[i].name %></td>
        <td>
          <form action="/colors/delete/<%= colors[i]._id %>?_method=DELETE" method="POST">
          <a href="/colors/edit/<%= colors[i]._id %>" class="btn btn-sm btn-warning">Edit</a>
          <!-- Button trigger modal -->
              <button type="submit" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
                Delete
              </button>
        </form>
        </td>
      </tr>
      <% } %>
  </tbody>
</table>